.container{
    background-color: black;
    width: 400px;
    height: 400px;
    margin: 10px;
    text-align: center;
}
.div{
    position: relative;
    background-color: orange;
    width: 200px;
    height: 200px;
}
.margin-top{
    margin-top: 50px;
}