.menu{
    background-color: #333;
    width: 200px;
    height: 100%;
    position: fixed;
    color: white;
    margin-left: 45px;
    margin-top: 45px;
    padding: 15px;
}
.menu ul{
    list-style-type: none;
    margin: 0px;
    padding: 0;
}
.menu li{
    margin-bottom: 20px;
    font-size: 25px;
}
.menu a{
    color: #fff;
    text-decoration: none;
}
.menu a:hover{
    text-decoration: underline;
}
.texto-direita{
    position: relative;
    margin-left: 315px;
    padding-top: 78px;
    p{
        font-size: 18px;
    }
}