.main{
    background-color: blueviolet;
    border-style: solid;
    color: white;
    border: 2px solid black;
}
.block{
    display: block;
    width: 200px;
    height: 200px;
}
.inline{
    display: inline;
    /* font-size: 25px; */
}
.inline-block{
    display: inline-block;
    width: 200px;
    height: 200px;
}
